<div class="hero2-header5 thq-section-padding">
  <img [attr.alt]="image1Alt" [attr.src]="image1Src" class="hero2-image" />
  <div class="hero2-container1">
    <div class="hero2-max-width thq-section-max-width">
      <div class="hero2-column">
        <div class="hero2-content">
          <h1 class="thq-heading-1 hero2-text1">
            <ng-container>
              <ng-template #defaultHeading1>
                <div class="hero2-fragment3">
                  <span class="hero2-text7">
                    Discover the Power of Our Products
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="heading1 ? heading1 : defaultHeading1"
              ></ng-container>
            </ng-container>
          </h1>
          <p class="thq-body-large hero2-text2">
            <ng-container>
              <ng-template #defaultContent1>
                <div class="hero2-fragment2">
                  <span class="hero2-text6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="content1 ? content1 : defaultContent1"
              ></ng-container>
            </ng-container>
          </p>
          <div class="hero2-actions">
            <div class="hero2-container2">
              <button class="hero2-button1 thq-button-filled">
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultAction1>
                      <div class="hero2-fragment1">
                        <span class="hero2-text5">Main action</span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="action1 ? action1 : defaultAction1"
                    ></ng-container>
                  </ng-container>
                </span>
              </button>
            </div>
            <div class="hero2-container3">
              <button class="thq-button-outline hero2-button2">
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultAction2>
                      <div class="hero2-fragment4">
                        <span class="hero2-text8">Secondary action</span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="action2 ? action2 : defaultAction2"
                    ></ng-container>
                  </ng-container>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
