<div class="contact1-contact20 thq-section-padding">
  <div class="contact1-max-width thq-section-max-width">
    <div class="contact1-content1">
      <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
        <path
          d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
        ></path>
      </svg>
      <div class="contact1-contact-info1">
        <div class="contact1-content2">
          <h3 class="contact1-text10 thq-heading-3">Email</h3>
          <p class="contact1-text11 thq-body-large">
            <ng-container>
              <ng-template #defaultContent1>
                <div class="contact1-fragment6">
                  <span class="contact1-text21">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in ero.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="content1 ? content1 : defaultContent1"
              ></ng-container>
            </ng-container>
          </p>
        </div>
        <span class="contact1-email thq-body-small">
          <ng-container>
            <ng-template #defaultEmail1>
              <div class="contact1-fragment1">
                <span class="contact1-text16">hello@teleporthq.io</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="email1 ? email1 : defaultEmail1"
            ></ng-container>
          </ng-container>
        </span>
      </div>
    </div>
    <div class="contact1-content3">
      <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
        <path
          d="M282 460q96 186 282 282l94-94q20-20 44-10 72 24 152 24 18 0 30 12t12 30v150q0 18-12 30t-30 12q-300 0-513-213t-213-513q0-18 12-30t30-12h150q18 0 30 12t12 30q0 80 24 152 8 26-10 44z"
        ></path>
      </svg>
      <div class="contact1-contact-info2">
        <div class="contact1-content4">
          <h3 class="contact1-text12 thq-heading-3">Phone</h3>
          <p class="contact1-text13 thq-body-large">
            <ng-container>
              <ng-template #defaultContent2>
                <div class="contact1-fragment2">
                  <span class="contact1-text17">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in ero.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="content2 ? content2 : defaultContent2"
              ></ng-container>
            </ng-container>
          </p>
        </div>
        <span class="contact1-phone thq-body-small">
          <ng-container>
            <ng-template #defaultPhone1>
              <div class="contact1-fragment3">
                <span class="contact1-text18">+1 (555) 000-0000</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="phone1 ? phone1 : defaultPhone1"
            ></ng-container>
          </ng-container>
        </span>
      </div>
    </div>
    <div class="contact1-content5">
      <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
        <path
          d="M512 0c-176.732 0-320 143.268-320 320 0 320 320 704 320 704s320-384 320-704c0-176.732-143.27-320-320-320zM512 512c-106.040 0-192-85.96-192-192s85.96-192 192-192 192 85.96 192 192-85.96 192-192 192z"
        ></path>
      </svg>
      <div class="contact1-contact-info3">
        <div class="contact1-content6">
          <h3 class="contact1-text14 thq-heading-3">Office</h3>
          <p class="contact1-text15 thq-body-large">
            <ng-container>
              <ng-template #defaultContent3>
                <div class="contact1-fragment5">
                  <span class="contact1-text20">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in ero.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="content3 ? content3 : defaultContent3"
              ></ng-container>
            </ng-container>
          </p>
        </div>
        <span class="contact1-address thq-body-small">
          <ng-container>
            <ng-template #defaultAddress1>
              <div class="contact1-fragment4">
                <span class="contact1-text19">456 Test Ave, Bucharest</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="address1 ? address1 : defaultAddress1"
            ></ng-container>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</div>
