<div class="home-container">
  <app-navbar4>
    <ng-template #link1>
      <div class="home-fragment10"><span class="home-text10">Link1</span></div>
    </ng-template>
    <ng-template #link2>
      <div class="home-fragment11"><span class="home-text11">Link2</span></div>
    </ng-template>
    <ng-template #link3>
      <div class="home-fragment12"><span class="home-text12">Link3</span></div>
    </ng-template>
    <ng-template #link4>
      <div class="home-fragment13"><span class="home-text13">Link4</span></div>
    </ng-template>
    <ng-template #link5>
      <div class="home-fragment14"><span class="home-text14">Link5</span></div>
    </ng-template>
    <ng-template #action1>
      <div class="home-fragment15">
        <span class="home-text15">Action 1</span>
      </div>
    </ng-template>
    <ng-template #action2>
      <div class="home-fragment16">
        <span class="home-text16">Action 2</span>
      </div>
    </ng-template>
  </app-navbar4>
  <app-hero2>
    <ng-template #action1>
      <div class="home-fragment17">
        <span class="home-text17">Main action</span>
      </div>
    </ng-template>
    <ng-template #action2>
      <div class="home-fragment18">
        <span class="home-text18">Secondary action</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment19">
        <span class="home-text19">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment20">
        <span class="home-text20">Discover the Power of Our Products</span>
      </div>
    </ng-template>
  </app-hero2>
  <app-cta3>
    <ng-template #action1>
      <div class="home-fragment21">
        <span class="home-text21">Action1</span>
      </div>
    </ng-template>
    <ng-template #action2>
      <div class="home-fragment22">
        <span class="home-text22">Action2</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment23">
        <span class="home-text23">Medium length heading goes here</span>
      </div>
    </ng-template>
    <ng-template #content2>
      <div class="home-fragment24">
        <span class="home-text24">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </span>
      </div>
    </ng-template>
  </app-cta3>
  <app-contact1>
    <ng-template #email1>
      <div class="home-fragment25">
        <span class="home-text25">hello@teleporthq.io</span>
      </div>
    </ng-template>
    <ng-template #phone1>
      <div class="home-fragment26">
        <span class="home-text26">+1 (555) 000-0000</span>
      </div>
    </ng-template>
    <ng-template #address1>
      <div class="home-fragment27">
        <span class="home-text27">456 Test Ave, Bucharest</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment28">
        <span class="home-text28">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in ero.
        </span>
      </div>
    </ng-template>
    <ng-template #content2>
      <div class="home-fragment29">
        <span class="home-text29">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in ero.
        </span>
      </div>
    </ng-template>
    <ng-template #content3>
      <div class="home-fragment30">
        <span class="home-text30">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in ero.
        </span>
      </div>
    </ng-template>
  </app-contact1>
</div>
